@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply max-sm:text-[14px];
  }
}
@layer components {
  .circle {
    @apply bg-bgc rounded-full p-5 w-9;
  }
  .circleClicked {
    @apply bg-gen rounded-full p-5 w-9;
  }
  .square {
    @apply bg-gen text-txd px-4 rounded-lg h-9;
  }
}
